h1, p {
    text-align: center;
}

li:hover {
    background-color: rgba(172, 255, 47, 0.281);
    border-style:dashed;
    border-color: rgba(172, 255, 47, 0.281);
    width: fit-content;
}

li:active {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
}

li:visited {
    color:chocolate; 
}

ol, ul {
    list-style: none;
    
}

li {
    line-height: 150%;
}