#Ignorar todos os arquivos localizados no diretório editing
editing/
bloco_15_REDUX_gerenciamentoDeEstado/01_Gerenciamento_de_Estado_com_Redux/testes-redux/node_modules/
bloco_15_REDUX_gerenciamentoDeEstado/01_Gerenciamento_de_Estado_com_Redux/exercicios/node_modules/