h1 {
    font-size: 65px;
    font-family: roboto, sans-serif;
    color: rgb(179, 90, 8);        
    text-align: center;
    text-decoration-line: overline;
    padding: 40px;
    background-color: #92b0c2;
  }

  hr {
    border-top: 40px solid orange;
  }

  p {
    font-weight: 100;
    font-size: 3em;
    text-decoration-line: overline underline;
    text-align: center;
    margin-top: -40px;
  }

  ul {
    list-style-type: circle;
    background: teal;
    text-align: center;
    margin-top: -45px;
  }

  .olive_block {
    color: #3d5761;
    background-color: #FDCA00;
    padding-bottom: 50px;
    padding-left: 80px;
    padding-top: 15px;
  }
  
  body {
    font-family: Roboto, sans-serif;
    font-weight: 450;
    font-size: 16px;
    background-color: #7B878B;
  }

  .colored-font {
    color: rgb(13, 46, 77);
  }

  li {
    margin: auto;
    display: inline;
    padding: 155px;
    border: 45px;
  }

  #amarelo {
    background-color: yellow;
    position: relative;
    width: 18%;
    padding-bottom: 5px;
    padding-left: 7px;
    padding-top: 3px;
  }
  
  #vermelho {
    background-color: red;
    width: 18%;
    padding-bottom: 5px;
    padding-left: 7px;
    padding-top: 3px;
  }

  #marrom {
    background-color: brown;
    width: 18%;
    padding-bottom: 5px;
    padding-left: 7px;
    padding-top: 3px;
  }