* {
    margin: 0;
}

body {
    background-image: url(./imagens/126.jpg);
    background-repeat: repeat;
    background-size: 30%;
    background-blend-mode:multiply;
    background-color: #03B3E8;
    font-family: 'Mukta', sans-serif;
    font-size: 1.3em;
}

header {
    background-color: #FDDD56;
    position: fixed;
    width: 100%;
    border-bottom: solid #01556e 7px;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Itim', cursive;
    font-weight: 100;
}

header h1 {
    color: #1c8128;
    text-align: center;
    padding: 10px;
    font-size: 1.7em;
    /* max-width: 80%; */
}

h2 {
    font-size: 1.5 em;
    margin-bottom: 3%;
    color: #593685;
    /* text-shadow: 1px 1px 1px #DDD; */
    text-align: center;
    text-decoration: overline underline #1c8128;
}

main {
    width: 80%;
    margin: auto;
    background-color: #FF862E;
    padding: 150px 50px;
    /* text-align: center; */
}

nav {
    text-align: center;
}

nav ul li{
    display: inline-block;
}

img {
    max-width: 60%;
    margin: 18px;
}

